@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@keyframes fall {
    to {
        transform: translateY(-105vh);
    }
    
}

@keyframes fade {
    0% { opacity: 0;}
    10% { opacity: 0.25;}
    30% { opacity: 0.5;}
    50% { opacity: 1;}
    70% { opacity: .75;}
    85% { opacity: 0.5;}
    90% { opacity: 0.25;}
    100% { opacity: 0;}
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    /* background-color: black; */
    background-color: rebeccapurple;
    max-width: 100vw;

}

.ghost {
    position: fixed;
    bottom: -1vh;
    transform: translateY(0);
    animation: fall 0.5s linear forwards, fade;
}

.headerContent {
    position: absolute;
    top: 0;
    background-color: rebeccapurple;
    color: white;
    /* font-size: 15px; */
    display: flex;
    font-size: 20px;

}

@media only screen and (min-width: 419px) {
    .headerContent {
        font-size: 2rem;

    }
}
        
    

.headerTitle {
    position: fixed;
    left: 0;
    padding: 30px;
}

.headerScore {
    position: fixed;
    padding: 30px;
}